<?xml version="1.0" encoding="utf-8"?>
<configuration>  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="SuuxEntities" connectionString="metadata=res://*/Context.Context.csdl|res://*/Context.Context.ssdl|res://*/Context.Context.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MAURI-PC\SQLEXPRESS;initial catalog=suux-db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>   
</configuration>